/* 
    Created on : 22/05/2016, 12:02:15
    Author     : Douglas
*/
.subtable-a-row {
    background: #C8FACF;
}
.subtable-a2-row {
    background: #DEFAE2;
}

.subtable-b-row {
    background: #CCDAFF;
}
.subtable-b2-row {
    background: #E0E9FF;
}
